*{
    margin: 0;
    padding: 0;
    font-family: 'Luxurious Roman', cursive;
    background-color: rgb(27, 25, 51);
    color: burlywood;
}
body{   
    display: grid;
    justify-content: center;   
}
#fraktal{
    height: 20rem;
    width: 100%;
}
h1{
    text-align: center;
    padding: 2rem;
}
main{
    display: inline-block;
    justify-items: center;

}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
} 
.contCont{
    padding: 2rem;
    border: 1px solid green;
    margin: 1rem;
}
.img-thumbnail{
    display: inline-block;

z-index: 0;
}
.img-thumbnail:hover{
    position: absolute;
    z-index: 2;
}
h4{
    margin-bottom: 3rem;

    font-size: 1.8rem;
}
.txtCont{
    padding: 1rem;

}
p{
    width: 10rem;
    margin-bottom: 4rem;
}
button{
    width: 9rem;
    height: 3rem;
    background-color: rgba(10, 45, 163, 0.486);
    font-size: 1rem;
    color: rgba(228, 155, 59, 0.808);
    font-family: sans-serif;
}